* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #bc6c25,
            #dda15e);
    font-size: 15px;
}

#main {
    width: 500px;
    height: 650px;
    background-color: black;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 4px 1px black;
}

.display {
    color: white;
    font-size: 70px;
    text-align: end;
    padding-top: 20px;
}

.button {
    border: none;
    color: white;
    border-radius: 50px;
    padding: 28px 30px;
    width: 22%;
    margin: 5px;
    font-size: 30px;
    background-color: #463f3a;
}

.grey:hover {
    transition: 0.3s all ease-out;
}

.zero {
    width: 47%;
}

.orange {
    background-color: #bb3e03;
    transition: 0.3s all ease-out;
}

.red {
    background-color: #9b2226;
    transition: 0.3s all ease-out;
}


.grey:hover {
    background-color: #23201d;
}

.orange:hover {
    background-color: #872d03;
}

.red:hover {
    background-color: #7d1e21;
}